

<div class="sidebar-nav">
    <div class="well" style="width:250px; padding:8px 0;">
        <ul class="nav nav-list">

            <li ng-repeat="menu in menuModel.menuList"><a href="#{{menu.value}}">{{menu.label}}</a></li>
                <!-- <li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>    -->
           
        </ul>
    </div>
</div>



<!--**
     <li><a href="#"><i class="icon-envelope"></i> Messages </a></li>
            <li><a href="#"><i class="icon-comment"></i> Comments </a></li>
            <li class="active"><a href="#"><i class="icon-user"></i> Members </a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-comment"></i> Settings </a></li>
            <li><a href="#"><i class="icon-share"></i> Logout </a></li>

            {{menuModel.menuList}}  //To access the values from the 

        -->
<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a id="menu-toggle" href="#" class="navbar-toggle">
                <span class="sr-only">Toggle navigaation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="home.xhtml">
                logo
            </a>
        </div>
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <ul class="sidebar-nav">
                <li>
                    <a href="#item1">item 1</a>
                </li>
                <li>
                    <a href="#item2">item 2</a>
                </li>
                <li>
                    <a href="#item3">item 3</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

-->